@charset "UTF-8";
/*************layout****************/

#wrap{width:100%; min-width:1000px;}
#header{position:relative; min-width:1000px;width:100%; z-index:500;background:#fff;}
.banner_slider{width:1278px;  margin:0 auto; }
.banner_slider .banner_container{width:1000px;   margin:0 auto;}
#banner_content{width:1278px; }
#contents{width:100%; overflow:hidden;background:#fff;}
#footer{width:100%; min-width:1000px;height:79px; background:#01519a; margin:0 auto; overflow:hidden;}


/**header**/
#header .bdblue{border-top:5px solid #01519a;}
.header_top{}
.header_mu{position:relative;min-width:700px ;width:1000px;height:70px; margin:0 auto 10px; overflow:hidden;background:url(../images/headertop.png) no-repeat 50% -3px;}

.inp_area{position:relative;float:left;margin-top:30px;}
.inp_area .text_1{border:0; border-radius:10px 0 0 10px; background:#f5f5f5;  height:25px;width:225px; } 
.inp_area .img_1{position:absolute; right:0px; top:0px;}
.header_mu a.logo{float:left;text-align:Center;margin-top:8px;width:465px;}
.header_mu .username{position:absolute;top:18px;color:#64625f;font-weight:bold;}
.header_mu .username img{width:5%;vertical-align:top;}
.header_mu ul{float:right; width:310px;margin-top:38px;}
.header_mu ul li{float:left; width:25%}
.header_mu ul li:first-child{}
.header_mu ul li a{font-size:12px;  font-family:" Gulim"; color:#01519a; display:block;}

/* GNB */ 
#herder_nav{width:100%;background:#01519a;height:41px;}
/* -> header.css */

/* main */
.content{width:1000px;margin:0 auto;background:#fff;}
/* 메인슬라이드 */
#contents .main_slider li{width:1000px;}
#contents .main_slider li img{width:100%;}
#contents .main_slider .bx-pager{position:absolute;bottom:10px;}

.containerBox{position:relative; overflow:hidden;}
#contents_1{width:426px; height:255px; float:left; overflow:hidden; background:#fff;}
/* 신제품 슬라이드*/
#contents_1 .new_slider{width:169px;margin:0 auto;}
#contents_1 .new_slider li{height:192px;}
#contents_1 .new_slider .bx-controls-direction a{width:35px;height:192px;top:0;}
#contents_1 .new_slider .bx-controls-direction .bx-prev{background:url("../images/contents_leftbutton.jpg") no-repeat 0 0;left:-35px;}
#contents_1 .new_slider .bx-controls-direction .bx-next{background:url("../images/contents_rightbutton.jpg") no-repeat 0 0;right:-35px;}
#contents_1 .new{float:left; margin-left:5px;}
.left_contents_1{width:260px; height:255px;  float:left; }
.left_contents_1 p{width:238px; height:46px; font-size:12px; font-family:"Headline R"; color:#01519a; letter-spacing:-1px; padding-top:17px; padding-left:22px;}
.left_contents_1 .img1{margin-left:8px; float:left;}
/*
#contents_2{ height:255px; width:226px; background:blue;float:left; }
#contents_2 img{width:100%; }
*/
#contents_3{height:255px;float:left; }

.mainEvent{float:left;width:118px;height:255px;}
.mainEvent ul{overflow:hidden;}
.mainEvent ul li{}

.contentsInner{width:500px; float:left;}
.contentsInner img{width:100%;}

.containerBox.con3 .section{position:relative; float:left;width:320px;margin-left:20px;}
.containerBox.con3 .section:first-child{margin-left:0;}
.containerBox.con3 .line{padding-bottom:8px;border-bottom:1px solid #c5c5c5;font-size:12px; font-family:"Headline R"; color:#01519a; letter-spacing:-1px;}
.containerBox.con3 .line span{clear:both;}
.containerBox.con3 .line a{float:right;}
.containerBox.con3 .txt1{position:relative; }
.containerBox.con3 .txt1 ul{margin:20px 10px}
.containerBox.con3 .txt1 li{ height:21px; line-height:21px;overflow:hidden;}
.containerBox.con3 .txt1 li span{float:right;font-size:9px; font-family:"Dotum"; color:#78736f; letter-spacing:-1px;}
.containerBox.con3 .txt1 img{margin-right:10px; margin-top:-7px;}
.containerBox.con3 .txt1 a{float:left;font-size:12px; font-family:"Dotum"; display:inline-block;color:#78736f; width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:10px;background:url("../images/dot.jpg") no-repeat 0 50%;}
.containerBox.con3 .txt1 a:hover{text-decoration:underline;}
.section img.card{width:100%;}
.section.conFacebook .love{display:inline-block;padding-top:8px;font-size:14px; font-family:"NanumGothic"; color:#3b5998; font-weight:bold; letter-spacing:-1px; }
.section.conFacebook .pb{float:left; margin-right:6px}
.section.conFacebook .facebooklove{float:right; margin-right:5px;}
.section.conFacebook ul li{float:left; font-size:12px ;font-family:"NanumGothic"; color:#78736f; line-height:14px;}
.section.conFacebook ul li a{font-size:12px; font-family:"NanumGothic"; color:#3b5998; text-decoration:underline;letter-spacing:-1px;}
.section.conFacebook a:hover{font-weight:bold;}
.section.conFacebook .faceLogo{position:absolute; right:13px; top:71px;}


/*footer****/
#footer .foot_inner{width:1000px;margin:0 auto;}
#footer .footercopy{float:left; width:500px; height:55px;  font-size: 12px; font-family:"NanumGothic"; color:#e8e8e8; letter-spacing:-1px; margin-top:31px; margin-left:50px;}
#footer .footerLogo{float:left; width:355px; height:55px;  margin-top:30px; letter-spacing:10px;}
#footer .footer_right{float:left; width:260px; height:55px; margin-top:20px; margin-left:70px;}
