@charset "UTF-8";

/* 상품 리스트 */
.body_content{position:relative;}
.body_content .sign{position:absolute;right:0;}
.contents_top{overflow:hidden;padding-top:120px}
.contents_top .contents_right{float:right;}
.contents_right .right_inner{padding:30px 0;border-bottom:1px solid #27337c;}
.contents_right .right_inner ul{overflow:hidden;}
.contents_right .right_inner ul li{float:left;margin-left:5px;}
.contents_top .contents_left{float:left;}
.contents_top .contents_left ul li{margin-bottom:14px;}
.contents_top .title{display:block;font-size:24px;color:#27337c;letter-spacing:-2px;text-align:center;font-weight:bold;}
.contents_down{overflow:hidden;text-align:center;}
.contents_down .item{position:relative;display:inline-block; overflow:hidden;margin:0 auto;}
.contents_down .item a{display:block;}
.contents_down .item .text{display:none;position:absolute;top:0; left:0; width:100%; height:100%; background:#000; color:#fff;opacity:0.6;overflow:hidden;margin:0 auto;}
.contents_down .item .text p{font-size:12px; width:150px;padding:80px 0 0 20px;}
.contents_down .item .text p:hover{text-decoration:underline;}
.contents_down .item .text .title{text-decoration:none; color:white;}
.contents_down .text .spot{margin-top:45px; margin-left:160px;}

/* 로그인 */
.pb_login_wrap{margin-top:100px;overflow:hidden;}
.pb_login_wrap .wel_area{width:400px;height:300px;border:1px solid #ccc;float:left;margin:0 auto;}

/* 슬라이드 */
.pb_login_wrap .bnr_slide{width:300px;height:150px;background:orange;}
/* //슬라이드*/

.pb_login_wrap .join_btn a{display:block;}

/* 회원가입 */
.join_wrap{width:600px;padding:0px 0 50px;margin:0px auto;}
.join_wrap .input_area{overflow:hidden;padding-top:50px;margin:0 auto;border-top:1px solid #ccc;}
.join_wrap .input_area:first-child{padding-top:0;margin-bottom:50px;border:none;}
.join_wrap .input_area .login_field{float:left;width:200px;font-size:18px;color:#333;}
.join_wrap .input_area .login_field span{background:url("../images/common/ico_check_ylw.gif") no-repeat 0 0;padding-left:20px;}
.join_wrap .input_area .login_input{float:left;width:400px;}
.join_wrap .input_area .login_input ul li{margin-top:10px;}
.join_wrap .input_area .login_input ul li:first-child{margin-top:0;}

.input_type1 {display:block;width:100%; height:38px;;font-size:13px;color:#767676;background:#fdfdfd;padding:0 10px 0 20px;border:1px solid #d8d8d8;border-radius:4px;vertical-align:middle;box-sizing:border-box;}
.input_type1:focus {font-family:'noto_d';font-size:13px;color:#767676;border:1px solid #005dab;}
.input_type1:disabled {background:#f1f1f1;border:1px solid #005dab;}
.input_type1.sm{width:120px;display:inline;}
.select_type1{height:38px;;font-size:13px;color:#767676;background:#fdfdfd;padding:0 10px 0 20px;border:1px solid #d8d8d8;border-radius:4px;vertical-align:middle;}
.select_type1.sel_mon{width:150px;}
.select_type1.sel_day{width:90px;margin-left:10px;}
.resultType{text-align:right;padding-top:5px;display:block;color:#2185ba;font-weight:bold;font-size:14px;}

/* 회원가입 완료 */
.content{overflow:hidden;}
.contentsWrap{width:1000px;min-width:1000px;margin:0 auto;background:#fff;}
.contBox{width:900px;/*overflow:hidden;padding:50px 0 10px;border-bottom:2px solid #f0f0f0;*/}
.titleCont{margin:0 auto;overflow:hidden;}
.contBox .txtBox{color:#78736f;margin-top:18px;margin-left:20px;}
.contBox .stepBox{float:right;width:42%;}
.contBox .stepBox img{width:100%;}
.joinCont{width:600px;margin:0 auto;overflow:hidden;}
.joinCont .imgBox{display:inline-block;width:130px;}
.joinCont .imgBox img{width:100%;}
.joinCont .txtCont{margin:25px 0 0 20px;display:inline-block;font-size:22px;font-weight:bold;font-family:" Gulim";letter-spacing:-2px;text-align:left;}

.contentsWrap .btnWrap{margin:30px 0 50px;padding:0 30px 40px 0; text-align:right;}

/* 로그인 */
.etcLoginWrap{overflow:hidden;padding:50px 50px 0;}
.etcloginInner{border:1px solid #dddcdb;overflow:hidden;}
.etcLoginWrap .loginBox{float:left;width:400px;padding:50px;}
.BoxInner{position:relative;}
.BoxInner .imgBox{margin-bottom:20px;}
.BoxInner .inputBox span{display:inline-block;width:90px;color:#6f6a65;font-weight:bold;}
.BoxInner .inputBox input{width:50%;display:inline-block;}
.BoxInner .btnLogin{position:absolute;top:90px;right:0;z-index:1;}
.BoxInner .txt{padding-top:10px;display:block;color:#a0a0a0;font-size:11px;line-height:15px;}
.BoxInner.evtBox{float:left;padding:65px 0 50px;}
.spcFamily{text-align:center;margin-bottom:30px;padding:30px 0;}
.BoxInner .findInfo{width:302px;margin:15px 0 0 98px;}
.BoxInner .findInfo li{position:relative;}
.BoxInner .findInfo li a{position:absolute;right:0;top:4px;}

/* 마이페이지 */
.section{position:relative;}
.content.sub .nav{padding:15px 0;border-bottom:2px solid #01519a;margin:50px 0 70px;}
.myBox{position:relative;width:1000px;margin:0 auto 50px;text-align:center;background:url("../images/mypage/bgHappyRight.gif") no-repeat right top;border:1px solid #dddcdb;padding:70px 0 30px;}
.myBox .title{position:absolute;top:-19px;left:50%;margin-left:-161px;display:block;background:url("../images/mypage/with_ribbon.gif") no-repeat 0 0;width:323px;height:35px;line-height:30px;color:#fff;font-weight:bold;font-size:16px;}
.myBox .inner{position:relative;background:url("../images/mypage/bgHappyLeft.gif") no-repeat left bottom;} 
.myBox .inner .happyLogo{position:absolute;top:-18px;left:22%;}
.myBox .inner .happyBG{position:absolute;top:-24px;right:9%;}
.myBox .inner .txtName{font-size:48px;font-weight:bold;letter-spacing:-1px;}
.myBox .inner .cont{display:block;font-size:16px;letter-spacing:-1px;margin-top:30px;}
.myBox .inner .cont em{font-weight:bold;}
.myBox .inner .pointBox{position:relative;color:yellowgreen;font-size:48px;font-weight:bold;width:608px;height:63px;margin:30px auto;background:url("../images/mypage/boxHappyPoint.gif") no-repeat left bottom;}
.myBox .inner .pointBox .btnView{position:absolute;top:14px;right:18px;width:129px;height:33px;line-height:33px;display:inline-block;background:url("../images/mypage/btnHappyPoint.png") no-repeat left bottom;color:#333;font-size:14px;}
.tbl_type1 .txtInfo{display:block;margin:30px 0 50px;}
.btnLogin_big{background:#025299;padding:10px 20px;width:10%;display:inline-block;margin-top:20px;color:#fff !important;font-size:14px;font-weight:bold;}
.myBox .BoxInner .inputBox input{width:33%;}

/* 회원가입 step1 */
.agreement_title .txt{float:left;clear:both;}
.agreement_title .agreement_allbtn{text-align:right;}
.agreement_sub{overflow:hidden;}
.agreement_sub .agreement_sub_title{float:left;}
.agreement_sub .agreement_sub_input{float:right;}
.agreement_footer {color: #3e3e3e; background-color:#f9f9f9; border:1px solid #d7d7d7;box-sizing:border-box;width:900px; text-align:center; padding:10px 0 10px 0; margin-top:20px;}
.footer_f {font-size: 9pt;font-family: êµ´ë¦¼,arial;text-decoration: none;color: #747474;font-weight:bold; }
.btnBx .btn_type2{padding:10px 20px;width:10%;display:inline-block;margin-top:20px;font-size:14px;font-weight:bold;box-sizing:border-box;}
